@{
    ViewBag.Title = "Movie Rental Sample Web App";
}

<div class="jumbotron">
    <h1>Movie Rental Web - TestFlask</h1>
    <p class="lead">Movie Rental Web Application is used to demonstrate TestFlask.Client packages to provide scenario and step management integration to an existing ASP.NET MVC application</p>
    <p><a href="http://github.com/FatihSahin/test-flask-sample" class="btn btn-primary btn-lg">Source Code &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <hr />
        <p>
            <ol>
                <li>When TestFlask.Client functionality is enabled, a TestFlask Test Assistant view will be available in your web pages.</li>
                <li>Using the assistant tool, you can create scenarios, begin a recording session, observe generated steps, rename them and end your recording session.</li>
                <li>After ending your testing session, you should be able to see and modify, replay and assert your recorded scenarios using TestFlask Test Management UI.</li>
            </ol>
        </p>
        <p>&nbsp;</p>
        <p>
            <a href="http://github.com/FatihSahin/test-flask-web" class="btn btn-primary btn-sm">Learn more &raquo;</a>
        </p>
    </div>
</div>
